<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<link th:rel="stylesheet" type="text/css" th:href="@{/css/miestilo.css}">
<link th:rel="stylesheet" type="text/css"
    th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} ">

</head>




<body>
<div id="header" th:fragment="header-admin">


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Cine PV</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/inicioadmi/mostrar"><span class="fas fa-home">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuario/mostrar"><span class="fas fa-users">Tabla de usuarios</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/peliculaadmi/mostrar"><span class="fas fa-video"></i>Tabla de Peliculas</a>
      </li>
     

      
    
  </div>
  
  
<ul class="navbar-nav mt-2 mt-lg-0">
				<li class="nav-item">
				<a class="btn btn-outline-dark" href="#" th:href="@{/logout}"> 
				<span th:text="${#authentication.getPrincipal().getUsername()}">
				</span> - 
				<span> Salir  </span><span class="float-right">
				<i class="fas fa-sign-out-alt"></i></span></a>				   	
				</li>
				</ul>
</nav>



    
    
    </div>
    </body>
 <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>




</html>