
.form-check-label{
		color:white;
	
	
}

.cartelera{
	margin-top: 80px;
	margin-bottom: 50px;
	
}


.pie{
	margin-top:400px;
}


body{
	
	
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6D_ZLRNuK1vJKKSqNViBDIOski0PmDUPBHA&usqp=CAU");
	/*	background-image: url("https://media.istockphoto.com/vectors/movie-film-production-line-icons-cinema-icons-modern-graphic-elements-vector-id914471178?k=20&m=914471178&s=170667a&w=0&h=IAJylKhjZ8ktLoKYALeZQF24duEbSJzjyPTJ0c4OTIw=");*/
	/*background-image: url("https://media.istockphoto.com/vectors/vector-neon-flat-design-icon-set-of-cinema-symbols-like-popcorn-vector-id1212752290?b=1&k=6&m=1212752290&s=170667a&w=0&h=dHGIO6zVnY6YctzUwbhFXALVHhdMhRG1No6bz2Z9QaQ=");*/
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.card{
	margin-top: 45px;
}


th
 { 
    font-size: 18px;
    font-weight: normal;
    padding: 8px; 
    background: #b9c9fe; 
    border-top: 4px solid #aabcfe;  
    border-bottom: 1px solid #fff; 
    color: #039; 
    }

td {   
	font-size: 16px;
	padding: 8px;   
    background: #e8edff;  
    border-bottom: 1px solid #fff;
    color: #669; 
    border-top: 1px solid transparent; 
    }

tr:hover td { 
	background: #d0dafd; 
	color: #339; 
	
	
	 }
	 
	 .img-fluid{
	 margin-top:70px; /*ponemos a la imagen mas abajo*/
	 }
	 
	 
.jumbotron-fluid{
		background-image: url("https://www.wallpapertip.com/wmimgs/58-583736_navy-blue-backgrounds-dark-blue-background-plain.jpg");
	/*background-position: center center;
	
	background-attachment: fixed;
	*/
	background-repeat: no-repeat;background-size: cover;
	
}
.display-4{
	color:white;
	text-align:center;
}
.lead{
	color:white;
		text-align:center;
	
}
.titulousu{
	color: #FCA205;
     font-family: 'Lobster', cursive;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align:center;
    
}

.sofia{
	margin-top:70px;
	
}

.header{
		color: #FCA205;
	
}