<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:rel="stylesheet" type="text/css" th:href="@{/css/misestilos.css}">
<link th:rel="stylesheet" type="text/css"
    th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"> <!-- link hacia el boostrap -->
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "> <!-- va a buscar el archivo de font-awesome y lo trae -->

<meta charset="UTF-8">
<title>Pagina de Inicio del Administrador</title>
</head>

	<body style="background-image: url(https://st2.depositphotos.com/30750088/i/600/depositphotos_427080440-stock-photo-dark-blue-wall-texture-background.jpg)">

<body>

<div th:insert="layout/header-admin :: header-admin"></div> 


<div class="jumbotron jumbotron-fluid">
  <!--  <div class="container">-->
    <h1 class="display-4">¡Bienvenido Administrador!</h1>
    <p class="lead">Usted ha iniciado sesion como usuario Administrador.</p>
  </div>
</div>


  <div class="container ">
<img src="/img/3720-Imagen-12411-1-17-20191003-1-1.jpg" class="img-fluid" alt="Responsive image"> 

<br>
<br>
<br>

<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="/img/inter.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        
      </div>
    </div>
  </div>
   
  <div class="col mb-4">
    <div class="card">
      <img src="/img/otro.jpg" class="card-img-top" alt="...">
      <div class="card-body">
       
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
	


</div>
<div th:insert="layout/footer :: footer" class="pie"></div>



</body>
</html>