<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Usuarios</title>
</head>


<link th:rel="stylesheet" type="text/css" th:href="@{/css/misestilos.css}">

<link th:rel="stylesheet" type="text/css"
    th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"> <!-- link hacia el boostrap -->
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "> <!-- va a buscar el archivo de font-awesome y lo trae -->

<body>

<div th:insert="layout/header-admin :: header-admin"></div> 
		





<!--  <h3>Lista de Usuarios</h3><br>-->



<div class="titulousu">
    <h1>Lista de usuarios</h1>
</div>


 
     <div>
     <table >
     <tr>
            <th>DNI</th>
            <th>Apellido</th> <!-- headers, encabezados de la tabla -->
            <th>Nombre</th>
            <th>Fecha Nacimiento</th>
            <th>Tipo Usuario</th>
            <th>Edicion</th>
            
      
     
     </tr>
      
     <tr th:if="${usuarios.empty}"> <!-- los tr son para escribir en las filas -->
           <td colspan="2">No hay usuarios en el listado </td>
      </tr>
     
     <tr th:each="usu : ${usuarios}"> <!-- fila nueva, por cada iteracion nosotros vamos a mostrar codigo, nombre -->
                       <td th:text="${usu.dni}"></td>
                        <td th:text="${usu.apellido}"></td>
                        <td th:text="${usu.nombre}"></td>
                        <td th:text="${usu.fechaNacimiento}"></td>
                        <td th:text="${usu.tipoUsuario}"></td>
                                              
                      
							<td><a th:href="@{'/usuario/editar/'+${usu.dni}}">
                        <i class="far fa-edit fa"></i></a>
						
                            <a th:onclick="'javascript:confirmarEliminar(\''+${usu.dni}+'\');'"><i class="fa fa-trash-alt"></i></a>
						
       </tr>
     </table>
     </div>
    

<!-- Modal Eliminar-->
	<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labellerdby="eliminarModal"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="eliminarModalTitulo">Confirmar Eliminar</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<h6>¿Seguro de que quieres eliminar a este Usuario?</h6>
				</div>

				<input type="hidden" id="identificadorClienteHiddenInput" name="userIdHiddenInput">
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

					<button type="button" class="btn btn-primary" th:onclick="eliminarUsuario()">Eliminar
						Usuario</button>
				</div>
			</div>
		</div>
	</div>
	

	<script type="text/javascript">
		function confirmarEliminar(id) {
			$('#modalEliminar').modal('show');
			$("#identificadorClienteHiddenInput").val(id);
		}

		function eliminarUsuario() {
			var id =
				$("#identificadorClienteHiddenInput").val();
			window.location = "eliminarUsuario/"+id;
		}
	</script>


  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	
</body>
</html>