<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Peliculas</title>
</head>


<link th:rel="stylesheet" type="text/css" th:href="@{/css/misestilos.css}">

<link th:rel="stylesheet" type="text/css"
    th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"> <!-- link hacia el boostrap -->
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "> <!-- va a buscar el archivo de font-awesome y lo trae -->

<body>

<div class="container sofia">

 
   <!-- si el editMode esta en verdadero, lo que hago es modificar, pero si esta en falso lo que hago es guardar
     <form id="formUsuario" th:object="${unUsuario}" th:action="${editMode}?@{/usuario/modificar}:@{/usuario/guardar}" method="post" enctype="multipart/form-data">-->
    
         <form id="formProducto" th:object="${unaPelicula}" th:action="@{/pelicula/modificar}" method="post" enctype="multipart/form-data">-->
    
    
    
     <div class="form-group row"> <!-- esto es una caja -->
    <label for="codigo" class="col-sm-2 col-form-label">CodigoPelicula</label><div class="col-sm-10">
    <input type="number"   id="codigo" th:field="*{codPelicula}" class="form-control">
  </div>
  </div>
  
  
      <div class="form-group row">
    <label for="descripcion" class="col-sm-1 col-form-label">Descripcion</label>
    <div class="col-sm-9">
    <textarea class="form-control" id="descripcion" th:filed="*{descripcion}" rows="3"></textarea>
    </div>
  </div>
 
    

    
    <div class="form-group row">
    <label for="nombre" class="col-sm-2 col-form-label">Nombre de Pelicula</label><div class="col-sm-10">
    <input type="text" id="nombre" th:field="*{nombrePelicula}" class="form-control"> 
    					<div class="alert alert-danger" th:if="${#fields.hasErrors('nombrePelicula')}" th:errors="*{nombrePelicula}">Name	Error</div>
    
    </div>
    </div>
    
    
    
    <div class="form-group row">
    <label for="actor" class="col-sm-2 col-form-label">Actor</label><div class="col-sm-10">
    <input type="text" id="actor" th:field="*{actor}" class="form-control"> 
    					<div class="alert alert-danger" th:if="${#fields.hasErrors('actor')}" th:errors="*{actor}">Name	Error</div>
    
    </div>
    </div>
 
      
        <div class="form-group row">
    <label for="director" class="col-sm-2 col-form-label">Director</label><div class="col-sm-10">
    <input type="text" id="director" th:field="*{director}" class="form-control"> 
    					<div class="alert alert-danger" th:if="${#fields.hasErrors('director')}" th:errors="*{director}">Name	Error</div>
    
    </div>
    </div>
 
   
   
    
 
    <br>
    <br>
    
    
        <div class="row">
            <div class="col-xs-6 col-md-6"><input type="submit" value="Modificar Pelicula" class="btn btn-success btn-block btn-lg" tabindex="7"
                title="Modificar cliente"></div>

            <div class="col-xs-6 col-md-6"><input type="submit" value="Cancelar" class="btn btn-secondary btn-block btn-lg" tabindex="8">
            </div>
        </div>
    
    
   </div>
    </form>
	
	
	
	
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
			type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
			type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
			type="text/javascript"
			src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>	
	</body>
	</html>